
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
    }
h1 { 
    text-align: center;
    font: italic normal 2.5em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 0; 
    color: #7D775C;
    }
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(127, 87, 221);
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(127, 87, 221);
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

.page-wrapper { 
	background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}
#box {
    width: 100%;
    height: 450px;
    overflow: scroll;
    margin: 0 auto;
    overflow: auto;
    padding: 2px;
    text-align: justify;
    background: transparent;
    }
.textarea {
    width: 540px;
    height: 120px;
    overflow: scroll;
}