<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../static/style.css">
        <title>
            {{title}}
        </title>
    </head>

    <body>
        <nav>
            <a href="/">Main Blog Page</a> |
            <a href="/newpost">Add a Blog Entry</a>   
        </nav> 

        <section class="intro" id="zen-intro">
            <div class="page-wrapper">
                <div id="zen-preamble" class="preamble" role="article">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </section>

    </body>
</html>

