{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>

<div id="box">
    <form method='post'>
        <label>Title for your new blog:
            <input type="text" name="title" required/>
        </label>
        <br>
        <br> <!-- Try to remove all br tags with CSS -->
        <label>
            Your new blog:
            <textarea class="textarea" name='body' required/></textarea>
        </label>
        <br>
        <br>
        <input type="submit" value='Add Entry' />
        <div class='error'>{{error}}</div>
    </form>
</div>


{% endblock %}